#box1 {

    width: 100px;
    height: 100px;
    background: green;
    transition: 2s ease-in 0.5s;

}

#box1:hover{
    width: 600px;

}

#box2{
    height: 100px;
    width: 100px;
    background: red;
    transform: rotate(90deg);
    transform: scaleX(200px);
    transform: scaleY(200px);
}

/* Qs3. Using transform, skew box3 20deg along the x axis.*/
#box3{
    width: 100px;
    height: 100px;
    background:lightblue ;
    transform: skewX(20deg);
}

/* Qs4. Set a 2px horizontal & 2px vertical, green shadow 
for box4, with a 5px blur radius.*/

#box4{
    height: 100px;
    width: 100px;
    background: lightgreen;
    box-shadow: 2px 2px 5px green;   

}
/* Qs5. Set Your picture or any picture as the background of  the div "myPic". Also, set transparency of this div to 50%. */

#mypic{
    background-image: url("2-CSS-Specifity.png");
    width: 200px;
    height: 200px;
    /* background: pink; */
    background-size: cover;
    opacity: 50%;

}
