h1,h3,p{
    text-align: center;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: green;
}
button{
    background-color: white;
    color: blueviolet;
}
