h1 {
    font-family: league sparton;
    color: #ffa511;
    text-align: center;
    font: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: normal;
    text-decoration: teal underline overline;
    text-transform: capitalize;
}