* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'sans-serif';
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

body {

    background-color: #fff;
    color: #000;

}

#header {
    height: 100vh;
    width: 100%;
    background: #000;
    background-position: center;

    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: contain;

}


#header .container h1 {
    margin-top: 200px;
    text-align: center;
}



.container {
    padding: 10px 10%;
    /* uncomment it to make the nav bar be fully filled with white color */
    /* background: #fff; */
}

.sidemenu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    width: 100%;
    height: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 15px;

}


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 328px;
}

.wave .shape-fill {
    fill: #FFFFFF;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    /* Full viewport height */
    /* Background image */
    color: #fff;
    text-align: center;
    padding: 0 20px;
    /* Responsive padding */
    flex-direction: column;
}



.hero h1 {
    font-size: 2.5rem;
    /* Adjust as needed */
    margin-bottom: 20px;
    color: #ff004f;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff004f;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.5s ease;
    /* Added transition for color */
}

.cta-button:hover {
    font-size: 2rem;
}


/* ---------------------------------------------------------------------blogs---------------------------------------------------------- */

.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.blog {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;

}

.blog:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 5px black;

    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.blog img {
    width: 100%;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);  */
    padding-left: 8px;


}

.layer h3 {

    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}



.layer a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border: 1px solid black;
    padding: 2px;
    margin-top: 10px;
    line-height: 60px;
    margin-left: 5px;
}

.layer a:hover {

    background-color: blue;
    border: none;
    color: white;

}

.sub-title {
    color: #ff004f;
    font-size: 50px;
}

.copyright {
    /* text-align: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 100px;
    color: white;

}

.copyright i {
    color: #ff004f;
}