* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'sans-serif';
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

body {

    background-color: #fff;
    color: #000;

}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}


html {
    /* for routing to the nav bar options */
    scroll-behavior: smooth;
}

#header {
    height: 100vh;
    width: 100%;
    background: #000;
    background-position: center;

    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: contain;

}


#header .container h1 {
    margin-top: 200px;
    text-align: center;
}



.container {
    padding: 10px 10%;
    /* uncomment it to make the nav bar be fully filled with white color */
    /* background: #fff; */
}

.sidemenu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    width: 100%;
    height: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 15px;

}

nav ul li a::after {
    content: '';
    /* Now this is invisible, making it 100% will display the underline but we want this when we hover */
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    /* Add 6px and will strike throught the text. Add -6px it will place the line at the bottom (make it underline)*/
    bottom: -6px;

    /* After adding hover to the after apply transition */
    transition: 0.5s;
}

nav ul li a:hover::after {
    /* When the mouse enters it will make the underline to 100% with a transition of 0.5s */
    width: 100%;
}


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 328px;
}

.wave .shape-fill {
    fill: #FFFFFF;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    /* Full viewport height */
    /* Background image */
    color: #fff;
    text-align: center;
    padding: 0 20px;
    /* Responsive padding */
    flex-direction: column;
}



.hero h1 {
    font-size: 2.5rem;
    /* Adjust as needed */
    margin-bottom: 20px;
    color: #ff004f;
}




/* ---------------------------------------------------------------------blogs---------------------------------------------------------- */

.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.blog {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;

}

.blog:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 5px black;

    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.blog img {
    width: 100%;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);  */
    padding-left: 8px;


}

.layer h3 {

    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}



.layer a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border: 1px solid black;
    padding: 2px;
    margin-top: 10px;
    line-height: 60px;
    margin-left: 5px;
}

.layer a:hover {

    background-color: blue;
    border: none;
    color: white;

}

.sub-title {
    color: #ff004f;
    font-size: 50px;
}

.copyright {
    /* text-align: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 100px;
    color: white;

}

.copyright i {
    color: #ff004f;
}

/* ---------------------------------------------------------------Contact----------------------------------------------------------------- */

.contact-left {
    /* flex basis distributes the width */
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    font-size: 25px;
    margin-right: 15px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ff004f;
    display: inline-block;
    transition: transform 0.5s;

}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.download {
    display: inline-block;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn-submit {
    display: inline-block;
    background: #ff004f;
    font-size: 15px;
    cursor: pointer;
}


.copyright {
    /* text-align: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 5px;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
    transition: transform 0.5s;

}

.btn:hover {
    transform: scale(1.05);
}

/* ----------------------------------------------About---------------------------------------------------------- */
.container h2 {
    line-height: 100px;
}




/* ------------------------------------------------Responsivness----------------------------------------------- */
@media (max-width: 400px) {

    #sidemenu {
        display: flex;
    }

    #sidemenu a {
        margin: 0;
    }

    .hero h1 {
        font-size: 25px;
    }

    .container h2 {
        font-size: 40px;

    }

}

@media (max-width:580px) {
    #sidemenu {
        display: flex;
    }
}

@media(max-width:430px) {
    #sidemenu {
        display: flex;
    }

    #sidemenu a {
        margin: 0;
    }

}

@media(max-width:380px) {
    nav {
        background: #d9a7c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffcdc, #d9a7c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .container h2 {
        font-size: 30px;

    }
}